﻿@model Project.Web.Models.Character
@{
    ViewBag.Title = "CharactersDetails";
}

<h2>Data of one character</h2>

@Html.ActionLink("Back to the list page", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(x => x.Id)</td>
        <td>@Html.DisplayFor(x => x.Id)</td>

    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Name)</td>
        <td>@Html.DisplayFor(x => x.Name)</td>

    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Dob)</td>
        <td>@Html.DisplayFor(x => x.Dob)</td>

    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Dod)</td>
        <td>@Html.DisplayFor(x => x.Dod)</td>

    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Species)</td>
        <td>@Html.DisplayFor(x => x.Species)</td>

    </tr>
    <tr>
        <td>@Html.DisplayNameFor(x => x.Gender)</td>
        <td>@Html.DisplayFor(x => x.Gender)</td>

    </tr>
</table>