﻿@model  Project.Web.Models.Character

<h2>Edit a character</h2>

@using (Html.BeginForm("Edit", "Characters"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(x=>x.Id)
    @Html.Hidden("editAction", ViewData["editAction"]?.ToString())

    <div class="editor-label">@Html.LabelFor(x => x.Name)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Name)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Dob)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Dob)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Dod)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Dod)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Species)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Species)</div>

    <div class="editor-label">@Html.LabelFor(x => x.Gender)</div>
    <div class="editor-field">@Html.EditorFor(x => x.Gender)</div>

    <input type="submit" value="SEND" />
}