﻿@model Project.Web.Models.CharactersViewModel
@{
    ViewBag.Title = "CharactersIndex";
}

<h2>My Characters</h2>

<p style="color:red;font-weight:bold">@TempData["editResult"]</p>

@Html.Partial("CharactersEdit", Model.EditedChar)

@Html.Partial("CharactersList", Model.ListOfCharacters)

