﻿@model  IEnumerable<Project.Web.Models.Character>

<h2>List of characters</h2>

@if (Model.Count() == 0)
{
    <p>No data</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(x => x.First().Name)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => item.Name)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new {id = item.Id })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new {id = item.Id })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new {id = item.Id })</td>
            </tr>
        }
    </table>
}